@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <!--title-->
            <h1 class="display-4">The Joel Hilton Film Collection</h1>
        </div>

        <div class="row justify-content-center">
            <!--image of joel-->
            <img src="~/img/joelhiltonheadshot.jpg" alt="Joel Hilton" class="img-fluid rounded">
        </div>
    </div>

</body>
</html>

